/*--------------------------------------------------------------
# Custom Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: 'Shefa';
  src: url('/customfont/shefa.woff2') format('woff2'),
       url('/customfont/shefa.woff') format('woff'),
       url('/customfont/shefa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'afrinagar';
  src: url('assets/customfont/afrinagar.ttf') format('truetype');
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "afrinagar", sans-serif;
  color: #fff;
  background: url("../img/bg.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(34, 34, 34, 0.8);
}

@media (min-width: 1366px) {
  body {
    background-attachment: fixed;
  }
}

a {
  color: #ff0000;
  text-decoration: none;
  font-size: 30px;
  margin: 0px 5px;
}

a:hover {
  color: #fafafa;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

h1.mrsitename {
  font-family: 'Shefa' !important;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: relative;
  width: 100%;
  padding: 100px 0;
  min-height: 100vh;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#header h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 22px;
}

#header .countdown {
  margin-bottom: 80px;
}

#header .countdown div {
  text-align: center;
  margin: 10px;
  width: 100px;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.12);
  border-top: 5px solid #ff0000;
}

#header .countdown div h3 {
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 15px;
}

#header .countdown div h4 {
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 575px) {
  #header .countdown div {
    width: 70px;
    padding: 10px 0;
    margin: 10px 8px;
  }

  #header .countdown div h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  #header .countdown div h4 {
    font-size: 14px;
    font-weight: 500;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: rgba(19, 19, 19, 0.4);
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
  position: relative;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #ff3333;
}
